<div class="wrapper">
  <div class="document">
    <h1>Shri Guru’s Devotee(Shri Guru Bhagwat Vol-I,Page -70)</h1>
    <div class="document__content">
        <article>
            <p>
              There are five levels of devotees of five kinds with different work, ethnic, tradition backgrounds.  
            </p>
            <p>
              First kind of devotee always has self-centered and intent for self-gratification along with strong desire for wealth , fame and money  (not of great loyal to the Guru). He is often hungry for the fulfillment of self-goals and his own needs which is known to the Guru. With all the prior knowledge at his disposal, Guru does not deny the intent of the devotee. However this devotee does not get the greatest blessing of Guru though the devotee gets rescued by Guru’s during his difficult times.
            </p>
            <blockquote>
              Prathama starara Bhakta II Poornata nuhen anurakta<br/>
              Swartha purane aasithaye II Dhana o jash loduthaye
            </blockquote>    
            <p>
              Second kind of devotee has two intents. This devotee has a level of devotion towards Guru along with strong desire for self-gratification and self-fulfillment.  He first looks after fulfilling his desire before he renders his service to Guru.  He is very arrogant and self-seeking even while serving Guru and always prides himself with the impression of his great deeds but as per ‘Guru Bhagvat’ this kind of devotees are ignoble.
            </p>
            <blockquote>
              Dwitiya prakar shishya II Udeshya thaye dwiprakara<br/>
              Gurunka prati Bhakti thaye II Tahinre swartha jodithaye
            </blockquote> 
            <p>
              Third kind of devotee also serves Guru with the strong desire of self-fulfillment.He serves Guru at his will and prefers to complete his work prior to serving Guru. His sense towards Guru is very real and emotionaly connected with Guru but he never takes any pain physically or mentally for Guru and never servers Guru wholeheartedly .He is not fully surrender with his devotion at the feet of Guru .This kind of devotees are still better than previous two kind of devotees.      
            </p>   
            <blockquote>
              Tritiya shrenira bhakta II Gurure swalpa samarpita<br/>
              lagithaye guru pujane II Bhogare echa dhari mane
            </blockquote>
            <p>
              Fourth kind of devotee has whole hearted devotion towards Guru who lives and breathes every moment thinking and preaching of Guru. He does not show much of interest on materialistic world and always focuses on rendering service to the divine master (his Guru).His divine madness  never cares his pain focusses only on serving Guru.His religion devotion towords Guru as Guru-bhakti ,his actions serve at Guru feet as Guru seba.
            </p>
            <blockquote>
              Chathutha prakarara bhakta  II Guru re purna samarpita<br/>
              Apari bhakta guruprana  II  Gurunka pai ja jibana
            </blockquote>
            <blockquote>
              Anantha samsara samudhra thara naukayithabhyam guru bhakthithabhyam,<br/>
              Vairagya samrajyadha poojanabhyam, namo nama sri guru padukabhyam.
            </blockquote>
            <p>
              Divine Guru has special attachment for this kind of devotee and Guru stays with him all the time of good and bad. Guru stays behind this devotee as a wall and provides courage to the devotee to face the world without fear.Guru takes full responsibility of the Devotee monitors him every moment ,carries him on journey of evoluation.
            </p>
            <p>
              With Guru’s divine blessings the devotee sees all improvements of his life and achieves the feet of success one after other.Guru leads him out of this worldly illusion.      
            </p>
            <p>
              Fifth kind of devotee has the best of intend to serve Guru who spends all of his life serving at the feet of Guru.He is not attracted by material possessions which help us to gain fame,values ,money and prestigious position.  For him Guru is everything who is Omnipresent and Omnipotent.He cannot imagine a life even a split of second without thinking and remembering the divine blessings of Guru.
            </p>
            <blockquote>
              Panchama prakara bhakta II Guru bhaktire madamata<br/>
              Gurunku sada bhaluthaye II Gurunka pai banchithaye
            </blockquote>
            <p>
              The relationship between guru and devotee are eternal, unconditional divine love and friendship, Like 'bees to the nector’ Guru always propels this kind of devotee towards him and stays with him forever.
            </p>
            <blockquote>
              Asile apari bhakata  II  Sadaguru huanthi prita<br/>
              ShriGuru apari bhakatanku II Sada dakithathi pakhaku
            </blockquote>
            <p>
              The life of this kind of devotees starts and ends with the association of divine Master(Guru).
            </p>
            <blockquote>
              Amananka pragati pai  II Guru sada thaathi chahin<br/>
              Sabumate sahajya kari  II Mayaru aanathi otari
            </blockquote>
          </article>      
      </div>
  </div>
</div>
