<!--<div id="container">
  <button class="button" onclick="location.href = '/dashboard';"><span>Enter </span></button>
  <img src="../../assets/sgb-landing-page.png"/>
</div>-->
<div class="container1">
	<div class="loader">
    <span></span>
    <span></span>
    <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
    <span></span>
    <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
    <span></span>
    <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
    <span></span>
    <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
    <span></span>
  </div>
  <button class="button" (click)="redirectToDashBoard()"><span>Enter </span></button>
</div>
