<div class="document__content" id="content2" [@scrollAnimation]="state">
  <p>
    (This means “ Oh Govinda! From Your Holy feet, honey like nectar always flows. Drinking this honey nectar, the women of Vraj ( Gopi of the Indian epic called Mahabharat) got salvation”)
  </p>
  <p>
    The beautiful and exotic tome in which she had sung these few lines had attracted me immensely and touched me to the quick. In the year 2001, I again had the chance of listening to her recital of these lines. This had illuminated my mind with exalted emotion, rhythm and imagination. One night around 11 p.m in the latter half of 2001 as I settled down to write a song on Sadguru Shri Sainath Maharaj, four lines in “Nabakshari Chhand” ( a poetic meter of nine letters in each line in a couplet) started flowing spontaneously in my mind in the same sweet tune as heard earlier. This is what came to my mind:    
  </p>
  <blockquote>
    Shri Gurudeba Gurudeba, Praana Mo Khoje Paada Taba<br/>
    Tuma Shri Payara Dhyaanare, Ekaagrataa Aase Manare        
  </blockquote>
  <p>
    This means “Oh Shri Gurudev (Oh the Master)! My soul ever yearns for Your feet. When I meditate on your feet, only then my mind gets absorbed in it”. While writing these four lines, I had entered into the plain of divine ecstasy and my entire night passed away in that state. Those four lines of the first day have taken the shape of “ Shri Guru Bhagavat” containing about twenty thousand lines”. As the thoughts started flowing spontaneously, Guruji went on writing this epic keeping Guru in his mind.    
  </p>
</div>
