nav {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(197,179,88);
    display: flex;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    font-family: "sans serif";
    flex-grow: 1;
}

nav a:hover {
    color: rgb(29, 28, 28);
}

div.navbar{
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 10px;
  z-index: 100;
  position: fixed;
  width: 100%;
  text-align: center;
}
div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
