nav {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(191, 186, 59);
  display: flex;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: rgb(236, 231, 231);
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
}

nav a:hover {
  color: rgb(29, 28, 28);
}

.custom {
  font-family: Muli;
  color:white;
  text-shadow:1px 1px 0 #444
}

.pos {
  position: fixed;
  padding-top: 30px;
  width: 100%;
  z-index: 50;
}
