
<link href="https://fonts.googleapis.com/css?family=Muli&effect=fire-animation" rel="stylesheet" type="text/css">
<div class="w3-container w3-deep-orange w3-text-white navbar">
  <h1 class="font-effect-fire-animation" style="font-family: Muli;color:white;text-shadow:1px 1px 0 #444">
    SHRI GURU BHAGAVAT - A Magnum Opus by Dr. C B Satpathy</h1>
</div>
<nav>
  <a routerLink="/dashboard">Home</a>
  <a routerLink="/prayer">Prayer</a>
  <a routerLink="/volume1">Volume I</a>
  <a routerLink="/volume2">Volume II</a>
  <a routerLink="volume3">Volume III</a>
  <a routerLink="volume4">Volume IV</a>
  <a routerLink="volume5">Volume V</a>
  <a routerLink="sgbqa">Q &amp; A</a>
  <a routerLink="videos">Videos</a>
  <a routerLink="/author">Author</a>
</nav>
<router-outlet></router-outlet>
<div class="w3-container w3-deep-orange w3-text-white footer" style="text-shadow:1px 1px 0 #444">
  <h5>© Sai American Foundation - 9312 Indian Knoll Dr, McKinney TX 75070 </h5>
</div>
