.wrapper {
    width: 1200px;
    height: 670px;  
    display: table inline-block;
    margin: 0 auto;          
}

.gurujiImg {
    width: 1200px;
    height: 600px;        
    background-image: url("../../assets/guruji.png"); 
    display: table;
}

a.button{
    display: block;
    padding:0.3em 1.2em;
    margin-left: auto;
    margin-right: auto;  
    width: 50%;  
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(175, 75, 75);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}
a.button:hover{
    border-color: rgb(207, 198, 198);
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

.document {
    background-color: rgba(#fac564);
    padding: 40px 20px;
    border-radius: 5px;
}

.document__content {
    column-count: 1;
    column-gap: 20px;
    padding: 20px 0;
    margin: 0 100px;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(94, 26, 26);
    text-shadow: 0 1px 2px rgba(black,.15);
}