.left {
    float: left;
}

.right {
    float: right;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

.document{
  width: 90%;
  display: center;
}
.document__content {
  width: 90%;
  display: center;
}
.wrapper {
  width: 90%;
  display: center;
  margin: 0 auto;
}
