<img src="../../assets/sainath1.png" class="w3-border w3-padding">
<div class="wrapper">
  <div class="document">
    <h1>Shri Guru Praarthanaa</h1>
    <div class="document__content">
      <div style="background-image: url(../../assets/prayer.jpg);background-repeat: repeat-y;">
      <article style="font-family: sans-serif; font-size: 20px;font-weight: bold;">
        <p style="text-align: center">(1 &amp; 2)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Oh Shri Gurudev (Oh the Reverend Master)! My soul ever yearns for Your feet. Only when I meditate on Your holy feet, my mind gets absorbed in it. Otherwise the illusion wrought by the play of ‘Maya ‘surrounds me with mundane worries. Repeatedly getting defeated at the hands of ‘Maya’ (worldly illusions), my ‘Jeeva’ (inner being) cries aloud to Shri Hari(God)for redemption.“
        </p>
        </div>
        <p style="text-align: center">(3 &amp; 4)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Problems like disease, anxiety, worldly worry, grief, poverty and repentance, each as powerful as the other, stifles the human beings(‘Jeevas’). In the spur of a moment, mighty waves of thought arise in the ocean of mind with tumult. Each worry is like a wave, which does not allow the heart to ever remain peaceful.“
        </p>
       </div>
        <p style="text-align: center">(5 &amp; 6)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “The distressed human beings run after the Priests, offer them gifts and ‘Dakshinas’ (religious donations). They visit the temples where they lament bitterly. They perform religious rites, like taking bath in river Ganges, undertake twelve ‘Vratas’(Penances), worship of the Deities and fasting as per prescribed rules and procedures of their religion; yet they continue to suffer.“
        </p>
       </div>
        <p style="text-align: center">(7 &amp; 8)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Oh Sadguru (Oh the Master)! You are the very soul of the devotees. You are born for Your devotees. When any devotee faces a time of crisis, your compassionate divine play begins then. When the devotee becomes despondent, you come in to his life from somewhere unexpectedly. You sprinkle(smoothen)his (devotee’s)heart with drops of compassionate love and bestow on him knowledge, energy and strength.“
        </p>
        </div>
        <p style="text-align: center">(9 &amp; 10)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Oh Gurudev (Oh the Master)! The divine power of God (Shri Hari) flows through Your compassionate looks, when You cast Your kind glances towards any devotee. When You shower Your grace on anyone, the many forces of nature become his servant (start helping him), because all the forces of nature and its five elements are under Your command.“
        </p>
        </div>
        <p style="text-align: center">(11 &amp; 12)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Fire and Air move according to Your will, as also, the other five elements of nature like water, earth and the sky. Oh Sadguru (Oh the Master)! You are my friend, brother, mother and my ever-forgiving father. Kindly be seated in the innermost recesses of my heart and keep on accepting the flowers of devotion that I offer.“
        </p>
        </div>
        <p style="text-align: center">(13 &amp; 14)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “In the secret garden of my heart and in the ‘Parijata’ (divine flowers) forest of Your kindness, Your resplendent Divine Form manifests. Oh Gurudev (Oh the Master)! At that moment my mind gets absorbed in the ‘Chidakasha’ (deep meditative plane). Your resplendent from appears at a point over the meeting place of the two eye brows(‘Chidakasha’).“
        </p>
      </div>
        <p style="text-align: center">(15 &amp; 16)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Beholding the lustre of Your divine form, my mind gets settled therein. The five life forces (‘Pancha Prana’) get transfixed and my eyes(vision)gets sanctified. Oh Gurudev (Oh my Master)! In my Chidakasha (deep meditative plane) how lustrous Your divine from reflects! I have no words to express its glory as my tongue becomes mute.“
        </p>
      </div>
        <p style="text-align: center">(17 &amp; 18)</p>
        <p>
            “Like the mother cow, when longing for its calf, sheds drops of milk from its udder, so also Your (motherly)compassion flows for the devotees when You think of them. Oh, the beloved Guru (Oh the beloved Master)! I prostrate at Your feet. I have become sanctified by smearing the dust of Your feet on my body.“
        </p>
        <p style="text-align: center">(19 &amp; 20)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Beholding Your divine personality, everyone gets astonished(dumfounded). Where from such cool water flows, in the worldly desert, they wonder! You are the personification of the divine kindness of Shri Hari. Compassion is the essence of Your divine personality. You pardon the many sins of Your devotee’s innumerable times.“
        </p>
      </div>
        <p style="text-align: center">(21 &amp; 22)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “By giving sorrow along with happiness and by imparting direct experiential knowledge, you evolve the devotees by redeeming them from the worldly miseries. Hence, whatever happens around You, is always for the good. A non-believer doesn’t understand, and the believer does not question it.“
        </p>
      </div>
        <p style="text-align: center">(23 &amp; 24)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Oh, the Guru-Govind Gosain (Oh the Guru Krishna)! You are the receiver of the devotional emotion(‘Bhav’) of Your devotee. The devotee is ever protected under the shadow of Your kindness. When the devotee forsakes his ego and stubbornness and prostrates before You with devotation, (then)You place Your compassionate hand on his head (take him under protection)“
        </p>
      </div>
        <p style="text-align: center">(25 &amp; 26)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Oh Gurudev (Oh the Master)! Your kindness is spontaneous and unqualified. Please reside in my heart. Let me remain at Your feet. Oh Gurudev (Oh the Master)! I bow before You repeatedly. Oh the inexhaustible store of compassion, I am only a speck of dust under Your feet.“
        </p>
      </div>
        <p style="text-align: center">(27 &amp; 28)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “I am born for You. I am born because of You. I have welcomed You in my heart at the very first sight. Having crossed forty years of my age, I realized that mu life had become poisonous (impure). Being absorbed in the worldly affairs, I used to consider myself superior to others.“
        </p>
      </div>
        <p style="text-align: center">(29 &amp; 30)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “My ego was inflated, so much so that I respected none, not even the sun and the moon. Absorbed in the illusory games of Maya, I had gone mad(virtually). Due to the beneficial results of the past lives ’Punyas’ (virtuous deeds), I was reigning over people. I was drowned in my ego and (therefore) was oblivious of Your memories (of past lives).“
        </p>
      </div>
        <p style="text-align: center">(31 &amp; 32)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Oh Gurudev (Oh my Master)! How kind of You to have shattered my ego. Drawing me to Your holy feet, you gave me refuge. Sprinkling my heart with loving thoughts, you held my hand with compassion. Otherwise a sinner like me, would have been destroyed due to his own sins.“
        </p>
      </div>
        <p style="text-align: center">(33 &amp; 34)</p>
        <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
          “Oh Gurudev (Oh my Master)! The divine cloud of compassion takes my life under Your shelter. Let my mind, actions, knowledge and devotation ever be at Your service. At last chanting Your name, let my soul depart from my body peacefully at Your feet and merge in Your Divine expanse“
        </p>
      </div>
      </article>
    </div>
    </div>
  </div>
</div>
