<div class="wrapper">
    <div class="document">
      <h1 *ngIf="articleNo == 1">Shri Guru Bhagavat Vol IV</h1>
      <h1 *ngIf="articleNo == 2">Prayer</h1>
      <h1 *ngIf="articleNo == 3">Dream – An awakening moment of realization</h1>
      <h1 *ngIf="articleNo == 4">The Theory of Meditation</h1>
      <h1 *ngIf="articleNo == 5">The Worship of Guru</h1>
      <h1 *ngIf="articleNo == 6">Pure Yogi</h1>
      <div class="left">
        <a class="previous round" (click)="previousArticle()">&#8249;</a>
      </div>
      <div class="right">
        <a class="next round" (click)="nextArticle()">&#8250;</a>
      </div>
      <div class="document__content">
          <article *ngIf="articleNo == 1">
            <p>
              Volume Four is devoted to God realization (Ishwar Praapti), difference between Guru’s worship and worship of Hindu deities, Yoga-Sadhana (Principles of Yogic Practices). Devotion, Spiritual/Occult powers (Siddhis), Dhyan Siddhant (the theory of Meditation), Samadhi (a state of merger of human consciousness with Divine consciousness), the subtle themes of the Absolute Reality (Brahm), Universe (Brahmand) and theory of Incarnations. The science of God and Brahama’s Blueprint of creation in terms of attraction and repulsion theory also worth reading from point of view of relating human body and the Universe. The author has very clearly depicted the theory of mediation along with ancillary knowledge of Mediation for the readers in the path of spiritual journey.
            </p>
            <p>
              The volume-4 deals with the following chapters-<br/>
            </p>
            <b>God Realization</b><br/>
            <ul>
              <li>The path of Spiritual Practice</li>
              <li>God and Human beings</li>
            </ul>
            <b>The worship of the Guru</b><br/>
            <ul>
              <li>The Perfect master</li>
              <li>Worship in the house of devotee</li>
              <li>Celebrating the birthday of the Guru</li>
              <li>The system of worship of Sri Guru’s feet</li>
              <li>Mental worship-with attributes</li>
              <li>The difference between worship of the Guru and worship of a Deity</li>
            </ul>
            <b>Yoga Sadhana</b><br/>
            <ul>
              <li>Meaning of Yoga</li>
              <li>The result of Yogic Kriya</li>
              <li>Types of Power</li>
              <li>The use of Power</li>
              <li>Power, Miracles and Beliefs</li>
              <li>Mental Power</li>
              <li>The theory of Meditation</li>
              <li>Experience in Sadhana</li>
              <li>Definition of Samadhi</li>
            </ul>
            <b>Knowledge of Meditation</b><br/>
            <b>The Human body and the Universe</b><br/>
            <ul>
              <li>The science of God</li>
              <li>The seven celestial realms</li>
              <li>The Power of Attraction and repulsion Emotional Attraction</li>
              <li>The Abode of Shri Vishnu</li>
              <li>Evolution of human race</li>
            </ul>
            <b>Role of Incarnations</b><br/>
            <ul>
              <li>The Sun God and Incarnation</li>
              <li>Different types of Incarnation</li>
            </ul>
          </article>
          <article *ngIf="articleNo === 2">
              <p style="text-align: center">The Worship of the Guru</p>
              <p style="text-align: center">(193 &amp; 194)</p>
              <p>
                “Oh Shri Gurudev! I have received Your compassion. Whenever I have committed any mistake, knowingly or unknowingly, you have been kind enough to pardon me. Knowingly and unknowingly I often commit mistake and repent for it. I have committed thousands of such sins, but You have pardoned me every time, Oh the Compassionate one."
              </p>
              <p style="text-align: center">(195)</p>
              <p>
                “Who can be a better Guru than You to redeem a wretched sinner like me. That is why my heart always yearns for Your worship.”
              </p>
              <p style="text-align: center">The Theory of Incarnations</p>
              <p style="text-align: center">(1 &amp; 2)</p>
              <p>
                In the meaningless world of divine illusions, the Guru is the only reality. He saves the disciple from the web of worldly illusions and shapes him in His own image. “Oh, Sad Guru, tree of compassion, no one is like you. Even when performing your divine acts on this earth, your consciousness is always transcendentally linked with the divine consciousness.
              </p>
              <p style="text-align: center">(3 &amp; 4)</p>
              <p>
                “You lead the devotees towards spiritual evolution through various paths-Pravritti, Nivritti, Bhakti, Gyan and Karma. You never shun anyone whom you have once taken under your shelter. You are completely dispassionate towards worldly affairs. Yet your love for the devotees is intense.”
              </p>
              <p style="text-align: center">(5 &amp; 6)</p>
              <p>
                “You serve the devotees, because you see God in them. Externally, you are the Guru but internally, you are the servant of your devotees. God is the Lord of all and all are His servants. You render loving service both to God and the devotees.”
              </p>
              <p style="text-align: center">(7 &amp; 8)</p>
              <p>
                “Your role is to maintain a balance between the good and the evil forces on earth. You strengthen weak devotees through the use your spiritual powers. As the earth rotates, human beings come and go, and the evolution of the life forms continues".
              </p>
              <p style="text-align: center">(9 &amp; 10)</p>
              <p>
                “Time, which is always in flux, brings change to the earth. Your divine role is to usher-in change in human civilization in order to maintain a fine balance on earth. You are always in a state of awakened consciousness and area perennial observer (of the happenings of the world). You are with a form and in gross and subtle bodies as well.“
              </p>
              <p style="text-align: center">(11 &amp; 12)</p>
              <p>
                “Oh Guru, Ocean of compassion, all my deeds are your doings. Operating secretly from behind in the performance of Nobel activities, you bestow glory on me, I never imagined that I will ever write Guru Bhagavat in my life. My feelings and languages are limited, and my intellect is not evolved either.“
              </p>
              <p style="text-align: center">(13 &amp; 14)</p>
              <p>
                “I do not possess the inner vision and subtle power of discrimination. Oh Guru, you were so kind to awaken Bhakti in me and inspired me to write. Throughout the writing, you helped me secretly. Oh Guru, (truly speaking) you only have written your own Bhagavat through my hands."
              </p>
              <p style="text-align: center">(15 &amp; 16)</p>
              <p>
                  "I have received Shri Guru Bhagavat as a gift from my Guru. I have experienced internal joy by serving this gift from my Guru to all the devotees. (Oh Guru!) Since, this truly is your creation, my prayers to you are to inspire the devotees for the proper comprehension of the Guru Tattva contained in the Guru Bhagavat."
              </p>
              <p style="text-align: center">(17 &amp; 18)</p>
              <p>
                “Oh Guru, kindly fill the hearts of the devotees who read this Guru Bhagavat with true knowledge. May the devotees who regularly read this scripture (Guru Bhagavat) experience inner peace. Please clear-away the cobweb of confusion from the minds of the devotees. May this book be the answer to the doubts and confusions pertaining to all spiritual queries."
              </p>
              <p style="text-align: center">(19 &amp; 20)</p>
              <p>
                “May the dying person get over his fear of death and attain a peaceful end to life, when this book is read out to him. May the recitation of this book at homes, temples, ashrams and religious places bring peace and punya to the readers (and listeners)."
              </p>
              <p style="text-align: center">(21 &amp; 22)</p>
              <p>
                “May the recitation of this book on the days of Ekadashi (eleventh waxing lunar day), Thursdays and Shivaratri day bestow the devotee with a lot of Punya. Please be compassionate on the devotee who recites it daily and fill his heart with divine ecstasy."
              </p>
              <p style="text-align: center">(23 &amp; 24)</p>
              <p>
                “This holy Guru Bhagavat is a Prasad of my Guru for the ignorant, the knowledgeable, the Yogi, the sadhakas and the mendicants all alike. I feel exulted and grateful (to my Sad guru) for having inspired and empowered me to write Shri Guru Bhagavat, which is a scripture on the divine role and personality of Shri Guru."
              </p>
          </article>
          <article *ngIf="articleNo == 3">
            <p>
              Dreams are outcome of our Subconscious mind. Our mind is creator and generator of our dream. When body gets tired we close our eyes and go to sleep. Once we sleep we don’t have any control over our body and mind. Suddenly we start to experience dreams. Sometimes we meet spiritual masters, saints and devotees in our dreams. Sometimes we meet new people, visit new places or transit in to different lives. Its difficult to understand the real fact of dreaming. We see many dreams, some of them are meaningful and some meaningless. Mostly we try to find out the meaning of all dreams, but it always ends with a futile effort.
            </p>
            <p>
              <b>How subconscious mind generate dream</b><br/>
              We should know why we are dreaming. Our mind is store house of all information what we gather like our beliefs, past and present experiences, surroundings etc. These information’s always affects our behavior and actions in different situations. When we sleep our conscious mind sleeps, but our subconscious mind remains in active state. In the dream we experience those things in different ways which we gathered in our memory bank. But those dreams are not always true. Dreams can be many types depending on our thoughts.
            </p>
            <p>
              <b>Master’s command on devotee’s dream (Spiritual Dream)</b><br/>
              The ‘Sad Guru’ has the divine power to control devotees mind. The Guru is aware of every thoughts of devotee’s mind. While our physical body is at the state of rest, subtle body works according to Guru’s command. The dreams caused by Guru are divine, blissful, true and beautiful. With Guru’s grace devotee gets blessing and knowledge in subtle dream.
              Through the dream, Guru awaken the devotee and gives true realization of the future possibilities and incidents that likely to occur in real life. By getting painful dreams Guru destroys immoral act of devotees. Devotee finds solutions to many problems. Like that devotee gets positive indications before any good thing happens to his life.
              Many times, devotee meet other devotees in their dream. This becomes a possibility only because Guru controls the mind of the devotee and evokes this kind of dreams. Guru gives indications to a devotee through the medium of other devotees. That indication is journey for a devotee towards the path of spiritual growth.
            </p>
          </article>
          <article *ngIf="articleNo == 4">
            <b>The Meaning of Meditation</b><br/>
            <p>Meditation is control mind in certain direction. It is a process to keep our mind stable. We can meditate anytime, anywhere even during our work. Different people have different experience of meditation depending on different level of consciousness. For some people Meditation is to develop peaceful state of mind, for some people Meditation is escape from reality around us, for some people Meditation is gaining knowledge etc. Meditation ultimately helps to discover the purpose of life and guides to lead a joyful life.</p>
            <p>Shri Guru Bhagavat narrates meditation following way-</p>
            <p>The word Meditation has been defined in many ways. Different scholars have defined it differently. Some define Meditation as the basis of gaining knowledge and others define Meditation to be the basis of devotion. Knowledge is gained when one knows the way to use the five (eye, ear, nose, tongue and skin) congnitive faculties. However, this method is not applicable in the case of a seeker of divine knowledge.</p>
            <p>The word Meditation has many connotations (feeling). First, it symbolizes an experience through (the help of) congnitive faculties. Secondly, anything that one comprehends through the direct or indirect method of gaining knowledge. Meditation awakens spiritual thoughts and generates a sense of detachment (from the worldly affairs). In an intense state of meditation, the mind becomes oblivious of the external world.</p>
            <p>Till one becomes completely oblivious to the outer world, he does not gain the true divine experience in meditation. Unless one entirely obliterates the knowledge created by Maya from his mind, it is not possible to get divine knowledge.</p>
            <p>Meditation is a way of life that leads us towards the path of well-being. It is the practice that helps for all round growth of mental and spiritual aspect of our life.</p>
            <p>Without Guru’s grace we will not be able to realize the power of Meditation. When someone meditates guru with full devotion, Guru shows the way to gain knowledge and bliss us to lead our life better. Guru’s blessing and regular practice of meditation leads for self-realization and detach the illusions in our life.</p>
            <b>Experience in Meditation</b><br/>
            <p>As meditation gets intensified, consciousness enters the subtle world and roams around. After experiencing the subtle world, the mind returns to the gross body. At the stage of deep meditation, various forms and colors become visible. Many hues and spectrums of light start appearing.</p>
            <p>The wondrous realm of the five basic elements like sky, air, water, fire and earth become visible. It dazzles as if studded with gemstones. The dazzling lights appear in the Chida kasha, which is in the midpoint between the two eyes on the forehead. The light gradually, turns to the shape of a circle. Thereafter, it reduces to the shape of a spot or dot and stays put in that state.</p>
            <p>The dot of light appears in electrical blue color like lightening. Golden and yellow hues of color surround it. The Yogi also sees hills, forests, planets, sun, starts and the sky. He feels like he is floating in a sea or flying in the sky. </p>
            <p>Meditation shows path towards Spirituality. We are surrounded in worldly affairs hence it is very difficult for us to meditate with peaceful mind. When someone experiences divine power of guru, practicing meditation and attaining a peaceful state of mind becomes a seamless experience. The ultimate outcome of divine blessing of guru and regular practice of meditation shall result our subconscious mind to experience difference between gross body and subtle body.</p>
            <p>Guru is the key path to meditation and spirituality.</p>
          </article>
          <article *ngIf="articleNo == 5">
            <b>The Perfect Master</b><br/>
            <blockquote>
                Guru Brahma, Guru Vishnu, Guru devo Maheshwara,<br/>
                Guru sakshat, param Brahma, tasmai shri guravay namah.
            </blockquote>
            <p>
                Brahma is source of creation, Vishnu is source of preservation of the universe and Maheshwara is force of transformation. Shri guru is the incarnation of Dattatray i.e. Brahma, Vishnu, Maheshwara. Shri Guru is that
                divine soul, who has power of creation, sustenance and transformation of anything. We called Guru as ‘Samarth’ because countless divine powers work according to his plan. It’s beyond imagination, how these divine
                powers are playing under Shri Guru’s command. Guru is like a light house who is capable of creating, preserving and transforming our life to attain the ultimate spiritual eternity.The highest achievement of human race
                is to rise to the spiritual status of a SadGuru. Shri guru is in the form of Satchidananda.The divine word Satchidananda is combination of three words i.e. Sat, Chid, Ananda. Sat means Existence or Truth,
                Chid means expression or knowledge and Ananda means bliss, joy, happiness. Shri Guru is the ultimate source of our existence who blesses us with knowledge and wisdom to lead the life of spiritual divinity.
                We should respect all Gurus like Kul-Guru, Vidya-Guru, Karna-Guru, Mantra-Guru etc., but they should not be worshipped because they are created by SadGuru. All Gurus are under divine shelter of Sadguru.
                They get power and energy from Shri Guru. We can pray SadGuru in two ways. First, we can pray the physical form of Guru, secondly, we can mentally worship the attribute less divine aspect of God.
            </p>
            <b>The Worship of the Guru</b><br/>
            <p>
                According to Hindu religion we have many Deities based on the religion and belief system. The worship method of each deities already fixed by our ancestors. Each deity has unique mantra and puja procedure.
                The Deities don’t have physical body like human being. We pray an imaginary form of the Deities which are subtle bodies entities. They can’t help for spiritual growth. For spiritual growth we need Shri guru who represents the physical body
                form of the Deities. His knowledge, divine consciousness helps human being for spiritual growth. Devotee can worship Guru any form and in desired methods as they wish. He can pray guru as Prambraham Satchidananda,
                where devotee gets inner peace. SadGuru is the human embodiment of deities. One can simply offer flower, fruits, light in Shri Guru’s puja. If devotee did any mistake in the worship of the Guru, he receives the forgiveness and kindness
                of guru immediately. Shri guru doesn’t need anything from his devotees. Shri Guru connected with devotee by his devotion and emotion. If devotee surrender himself fully at the feet of Shri Guru, then he gets shelter with the blessings
                of Lord Vishnu. Guru is the medium between God and human. Devotee can get knowledge, bliss, contentment and power if he worships the holy feet of shri guru every day.
            </p>
          </article>
          <article *ngIf="articleNo == 6">
            <img src="../../assets/Article-Pure Yogi.png">
          </article>
      </div>
    </div>
  </div>
